@page
@model dynamic
@using System.Dynamic
@{//@model Octopus.Views.UserRegions.AddRegionsModel

   

}
<p>
    <a asp-page="Create">Editar regiones</a>
</p>

@foreach (Octopus.Models.Region region in Model.regions) {

    <a>@region.RegionName</a>
}

