@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Recargas" asp-action="Index">Recargas</a>
    <p>Sistema de recargas electrónicas.</p>
</div>
