@model Octopus.Models.WebServRegion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <a class="btn btn-outline-danger" asp-action="Index">Back to List</a>
</div>
<div>
    <h4>WebServRegion</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |

</div>
